<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.aqshalrzq.compdash">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/compdash_mobile_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/compdash_mobile_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompDash"
        android:usesCleartextTraffic="true">

        <!-- Mainfest from MainSplash -->
        <activity
            android:name=".MainSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Mainfest from MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>
</manifest>